body {
    background: #000;   
}

#bolao {
    font-size: 25em;   
    text-align: center;
    color: yellow;
}

#bolao_coluna {
    font-size: 25em;   
    text-align: center;
    color: #26FF26;
}

.centralizado {
    text-align: center;   
}

.bolas {
    font-size: 1.5em;   
}

.tabela_bola {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 4px 0;
    border-radius: 30px;   
    border: 1px solid #6E6E6E;
    color: #6E6E6E;
    margin-bottom: 1px;
}

.tabela_coluna {
        width: 30px;
    height: 30px;
    text-align: center;
    padding: 4px 0;
    border-radius: 30px;   
    border: 1px solid #0054DB;
    color: #FFF;
    background: #0054DB;
    margin-bottom: 1px;
}


.sorted {
    border: 2px solid #0054DB;
    color: #FFF;
    background: #0054DB;
}

.ball_remaining {
    font-weight: bold;
}

.ball_sorted {
    font-weight: bold;
}

.last_ball {
    font-weight: bold;
}
