#bolao {
    font-size: 40em;   
    text-align: center;
}


.tabela_bola {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 4px 0;
    border-radius: 15px;   
    border: 1px solid #ACACAC;
    color: #ACACAC;
}


.sorted {
    border: 1px solid #FFCD03;
    color: #FFCD03;
    background: #000;
}